@charset "utf-8";
/* Global Styles */

#navigation_bar{
	list-style-type: none;
	position: fixed;
	left: 5%;
	z-index: 1;
}
#navigation_bar li {
	list-style-type: none;
    font-family: 'Architects Daughter', cursive;
	font-size: 20px;
    line-height: 2;	
}

#navigation_bar li a:hover{
	cursor:pointer;
	color: #FFF0DC;
}

	#footer {
		background-color: #f1f1f1;
	}
	
	#main-wrap {
		background-color: #D9D9D9;
	}
	
	#sidebar {
		background-color: #d2d2d2;
	}
	
	#content-wrap {
		background-color: #c5c5c5;
	}
	
	/* sizes */
	#main-wrap > div {
		height: 100%;
	}
	

	#footer {
		min-height: 40px;
	}
	
	

	#main-wrap > div {height: 100%; }
	

	#footer {
	    min-height: 40px;
	}
	
	
	/* layout */
	#main-wrap {
	    /* overflow to handle inner floating block */
	    overflow: hidden;
	}
	
	#sidebar {
	    float: left;
	    width: 20%;
	}
	
	#content-wrap {
	    float: right;
	    width: 80%;
	}  
	
	
	



.cover {
  transition: all linear 0.5s;
  background-color: #4E535D;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

.greeting{
	font-family: 'Gloria Hallelujah', cursive;
	line-height: 1.5;
	color: #CFD0D2;
	font-size: 35px;
	position: relative;
	left:40%;
	top:30%;
}

#coverBut{
	position: fixed;
	left:40%;
	top:50%;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 25px;
}